# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

## Author

khalid abdulhamid hamdy

#### Objectives:

- data science languages 
- data science libraries 
- data science tools 
- data science arithmetics operations

#### Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

#### Some of the popular Libraries that Data Scientists use are:

1. Pandas
2. Numpy
3. GGplot

| Data Science Tools |
| -------------|
| Tableau |
| Power BI |
| Programming Languages |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Devision /
2. Multiplication * 
3. Addition +

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335